<mat-card class="mat-elevation-z5">
  <section class="mat-typography">
    <h2>Departments</h2>
  </section>
  <mat-divider></mat-divider>

  <form class="employee-form">

    <mat-form-field class="employee-standard-input">
      <input matInput placeholder="Name" style="margin-top:20px" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
      <mat-hint>Department Name</mat-hint>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="employee-standard-input">
      <input matInput placeholder="Location" style="margin-top:20px" [formControl]="locationFormControl" [errorStateMatcher]="matcher">
      <mat-hint>Location of department (City)</mat-hint>
      <mat-error *ngIf="locationFormControl.hasError('required')">
        Location is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <button type="submit" class="employee-form-btn" mat-stroked-button color="primary">Save</button>
  </form>
</mat-card>