.department-container {
    display: flex;
    flex-direction: column;
  }
  .department-form{
    margin-top:20px; 
  }
  .department-full-width {
    width: 100%;
  }
  .department-standard-input {
    width: 70%;
  }
  .department-form-btn{
    margin-top: 20px;
  
  }
  .department-Card{
    margin: 2em;
  }