<mat-card class="department-Card mat-elevation-z5">
  <section class="mat-typography">
    <h2>Add new Department Form</h2>
  </section>
  <mat-divider></mat-divider>

  <form class="department-form">

    <mat-form-field class="department-standard-input">
      <input matInput placeholder="Name*" style="margin-top:20px" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
      <!-- <mat-hint>Department Name</mat-hint> -->
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="department-standard-input">
      <input matInput placeholder="Location*" style="margin-top:20px" [formControl]="locationFormControl" [errorStateMatcher]="matcher">
      <mat-hint>Location of department (City)</mat-hint>
      <mat-error *ngIf="locationFormControl.hasError('required')">
        Location is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <button type="submit" (click)="saveDepartment()" class="department-form-btn" mat-flat-button color="primary">Save</button>
  </form>
</mat-card>
<mat-card class="department-Card mat-elevation-z8">
  <h3>Departments Data:</h3>
  <hr>
  <div class="">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let department"> {{department.ID}} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let department"> {{department.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let department"> {{department.Location}} </td>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let department">
          <button mat-raised-button (click)="showthat(department)">Edit</button>
          <button mat-raised-button color="warn" (click)="departmentDelete(department)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
