<mat-toolbar color="primary" class="mat-elevation-z15">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Crud Application</span>
</mat-toolbar>

<mat-sidenav-container class="app-sidenav-container">

    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="true" [mode]="'side'">
        <mat-list>
            <mat-list-item>
                    
                    <a href="#">
                        <i><mat-icon>home</mat-icon></i>
                        Home
                    </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a href="#">Employees</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a href="#">Departments</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <div style="margin: 20px">
        <app-employee></app-employee>
    </div>

</mat-sidenav-container>