<mat-toolbar color="primary" class="mat-elevation-z15">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Crud Application</span>
</mat-toolbar>

<mat-sidenav-container class="app-sidenav-container">

    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="true" [mode]="'side'">
        <mat-list>
            <mat-list-item>
                <a class="sidnavLink" href="#">
                    <mat-icon class="navbarIcon">home</mat-icon>
                    Home
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <a class="sidnavLink" href="#">
                    <mat-icon class="navbarIcon">person</mat-icon>
                    Employees
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <a class="sidnavLink" href="#">
                    <mat-icon class="navbarIcon">domain</mat-icon>
                    Departments
                </a>
            </mat-list-item>

        </mat-list>
    </mat-sidenav>

    <app-home></app-home>

</mat-sidenav-container>